/* basic */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Pretendard-Regular';
      font-size: 14px;
      
      word-break: keep-all;
}

body {
      background-color: black;
}

li {
      list-style: none;
}

a {
      text-decoration: none;
}


/* font */
@font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
}

@font-face {
      font-family: 'SBAggroB';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}


#container {
      width: 100%;
}

.wrap {
      width: 100%;
      padding-inline: 5%;
}


@media screen and (min-width: 1024px) {
      * {
            font-size: 16px;
      }

      .wrap {
            width: 90%;
            max-width: 1120px;
            margin: 0 auto;
            padding-inline: 0;
      }
}