@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  background-color: #000;
  color: #fff;
}
/* ===========================공통================================== */
#membership_contianer {
  width: 91%;
  margin: 0 auto;
  margin-top: 112px;
  margin-bottom: 74px;
}
fieldset {
  border: transparent;
}
fieldset h1 {
  text-align: center;
  color: #f0f0f0;
  font-size: 16px;
  margin-bottom: 32px;
}
ul li {
  padding: 14px 0;
  padding-left: 16px;
  margin-bottom: 8px;
}
.li_css {
  display: flex;
  border: 1px solid #dedede;
}
.type_a {
  margin-bottom: 16px;
}
ul li h2 {
  margin-right: 20px;
  font-size: 7px;
}
input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: transparent;
  color: #fff;
  font-size: 14px;
}
input::placeholder {
  color: #dedede;
  font-size: 14px;
}

/* ===========================개인정보 유효기간================================== */
.radio_tab {
  display: none;
}
#privacy {
  padding-left: 0;
}
#privacy h2 {
  font-size: 16px;
}
#privacy_label {
  width: 100%;
  display: flex;
  margin: 8px 0;
}
#privacy_label label {
  display: block;
  width: 49%;
  height: 48px;
  background-color: #dedede;
  color: #000;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  box-sizing: border-box;
}
#privacy_label label:hover {
  cursor: pointer;
}
#privacy_label input:checked + label {
  background-color: #ff6040;
  color: #fff;
}
#privacy h6 {
  color: #818181;
  font-size: 12px;
}
/* ===========================이메일================================== */
.email {
  justify-content: space-between;
}
#select_box {
  width: 100%;
}
#select_box select {
  display: block;
  width: 95%;
  background-color: transparent;
  color: #c2c2c2;
  border: transparent;
  font-size: 14px;
}
#select_box .select_opt {
  background-color: black;
  color: #c2c2c2;
  border: transparent;
  font-size: 14px;
}

/* ===========================핸드폰================================== */
#phone {
  display: flex;
  justify-content: space-between;
}
#phone_num {
  width: 60%;
  margin: 0;
}
#certification_number {
  width: 30%;
  background-color: #ff6040;
  color: #fff;
  height: 48px;
  margin-top: 1px;
}
#certification_number:hover {
  cursor: pointer;
}
#certification_number p {
  font-size: 14px;
  line-height: 48px;
  text-align: center;
}
/* ===========================체크박스================================== */
.checkbox {
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
.checkbox:first-of-type {
  margin-bottom: 0;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox label {
  display: flex;
}
.checkbox label:hover {
  cursor: pointer;
}
.checkbox label h3 {
  padding: 5px 0;
  font-size: 12px;
}
.checkbox .arrow {
  position: relative;
  float: left;
  border: transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-color: #818181;
}
.checkbox .arrow::after {
  position: absolute;
  left: 10px;
  top: 7px;
  content: "";
  width: 10px; /* 사이즈 */
  height: 10px; /* 사이즈 */
  border-top: 3px solid #fff; /* 선 두께 */
  border-right: 3px solid #fff; /* 선 두께 */
  transform: rotate(135deg); /* 각도 */
}
.checkbox input[type="checkbox"]:checked + label .arrow {
  background-color: #ff6040;
}
.checkbox p {
  display: none;
}
.checkbox h6 {
  width: 90%;
  word-break: keep-all;
  font-size: 7px;
  padding-top: 16px;
  padding-bottom: 12px;
}
/* ===========================가입동의================================== */
#legal_representative_sign {
  padding: 0;
  margin-top: 16px;
  border: transparent;
  justify-content: space-between;
}
#legal_representative_sign h2 {
  padding: 12px 0;
  font-size: 16px;
}
#legal_representative_sign button {
  background-color: #ff6040;
  color: #fff;
  width: 49%;
  height: 48px;
  text-align: center;
  font-size: 16px;
}
#legal_representative_sign button:hover {
  cursor: pointer;
}
/* ===========================가입완료================================== */
#sign_up {
  padding: 0;
  margin-top: 24px;
}
#sign_up button {
  font-size: 14px;
  width: 100%;
  height: 48px;
  text-align: center;
  color: #fff;
  background-color: #ff6040;
}
#sign_up button:hover {
  cursor: pointer;
}
/* ===========================pc================================== */

@media screen and (min-width: 1024px) {
  /* ===============공통=============== */
  #membership_contianer {
    width: 480px;
    margin-top: 160px;
    margin-bottom: 140px;
  }
  fieldset h1 {
    font-size: 24px;
    margin-bottom: 64px;
  }
  ul li {
    padding: 26px 0;
    padding-left: 16px;
  }
  ul li h2 {
    font-size: 16px;
    margin-right: 40px;
  }
  input {
    width: 100%;
  }
  input::placeholder {
    font-size: 16px;
  }
  /* ===============개인정보 유효기간=============== */
  #privacy {
    padding: 32px 0;
  }
  #privacy_label {
    margin: 16px 0 4px 0;
  }
  #privacy_label label {
    font-size: 16px;
    width: 265px;
    height: 45px;
    line-height: 45px;
  }
  #privacy h6 {
    font-size: 14px;
  }
  /* ============이메일================== */
  #select_box select {
    font-size: 16px;
  }
  #select_box .select_opt {
    font-size: 16px;
  }
  /* ================핸드폰======================== */
  #certification_number {
    margin-top: 12px;
  }
  /* ===========체크박스======================= */
  .checkbox label h3 {
    font-size: 16px;
  }
  .checkbox .arrow {
    width: 30px;
    height: 30px;
    margin-right: 18px;
  }
  .checkbox .arrow::after {
    left: 7px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff; /* 선 두께 */
    border-right: 3px solid #fff; /* 선 두께 */
  }
  .checkbox p {
    display: block;
    font-size: 16px;
    word-break: keep-all;
    padding: 20px 0 32px 0;
  }

  /* ===============가입동의======================== */
  #legal_representative_sign {
    margin-top: 32px;
  }
  #legal_representative_sign h2 {
    font-size: 18px;
  }
  #legal_representative_sign button {
    width: 168px;
    font-size: 16px;
  }
  /* ==================가입완료====================== */
  #sign_up {
    margin-top: 64px;
  }
  #sign_up button {
    height: 70px;
    font-size: 16px;
    line-height: 70px;
  }
}
